<html><head><title>./document.err.html errors</title>
<meta charset="UTF-8"/>
<style> pre { white-space: pre-wrap; }
thead th { font-weight: bold; background-color: aqua; }
.severity0 { font-weight: bold; background-color: lightpink }
.severity1 { font-weight: bold; }
.severity2 { }
.severity3 { font-style: italic; color: grey; }
</style>
</head><body><h1>./document.err.html errors</h1>
<ul><li><p><b><a href="#Relaton">Relaton</a></b>: Severity 3: <b>8</b> errors</p></li>

<li><p><b><a href="#Style">Style</a></b>: Severity 2: <b>4</b> errors</p></li>

<li><p><b><a href="#Metanorma_XML_Syntax">Metanorma XML Syntax</a></b>: Severity 2: <b>40</b> errors</p></li>
</ul>
<h2 id="Relaton">Relaton</h2>
<table border="1">
<thead><th width="5%">Line</th><th width="20%">ID</th><th width="10%">Error</th>
<th width="20%">Message</th><th width="40%">Context</th><th width="5%">Severity</th></thead>
<tbody>
<tr class="severity3">
<td></td><th><code>GMLSF</code></th><td>RELATON_4</td>
<td>(Error from Relaton) <code>GMLSF</code> does not have a recognised prefix</td><td><pre></pre></td><td>3</td></tr>
<tr class="severity3">
<td></td><th><code>GMLSF</code></th><td>RELATON_4</td>
<td>(Error from Relaton) <code>GMLSF</code> does not have a recognised prefix</td><td><pre></pre></td><td>3</td></tr>
<tr class="severity3">
<td></td><th><code>HTML5</code></th><td>RELATON_4</td>
<td>(Error from Relaton) <code>HTML5</code> does not have a recognised prefix</td><td><pre></pre></td><td>3</td></tr>
<tr class="severity3">
<td></td><th><code>HTML5</code></th><td>RELATON_4</td>
<td>(Error from Relaton) <code>HTML5</code> does not have a recognised prefix</td><td><pre></pre></td><td>3</td></tr>
<tr class="severity3">
<td></td><th><code>Open API Initiative</code></th><td>RELATON_4</td>
<td>(Error from Relaton) <code>Open API Initiative</code> does not have a recognised prefix</td><td><pre></pre></td><td>3</td></tr>
<tr class="severity3">
<td></td><th><code>Open API Initiative</code></th><td>RELATON_4</td>
<td>(Error from Relaton) <code>Open API Initiative</code> does not have a recognised prefix</td><td><pre></pre></td><td>3</td></tr>
<tr class="severity3">
<td></td><th><code>Schema.​org</code></th><td>RELATON_4</td>
<td>(Error from Relaton) <code>Schema.​org</code> does not have a recognised prefix</td><td><pre></pre></td><td>3</td></tr>
<tr class="severity3">
<td></td><th><code>Schema.​org</code></th><td>RELATON_4</td>
<td>(Error from Relaton) <code>Schema.​org</code> does not have a recognised prefix</td><td><pre></pre></td><td>3</td></tr>
</tbody></table>
<h2 id="Style">Style</h2>
<table border="1">
<thead><th width="5%">Line</th><th width="20%">ID</th><th width="10%">Error</th>
<th width="20%">Message</th><th width="40%">Context</th><th width="5%">Severity</th></thead>
<tbody>
<tr class="severity2">
<td></td><th><code>--</code></th><td>OGC_10</td>
<td>Abstract is missing!</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>--</code></th><td>OGC_11</td>
<td>Keywords are missing!</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>--</code></th><td>OGC_12</td>
<td>Preface is missing!</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>--</code></th><td>OGC_14</td>
<td>Submitters is missing!</td><td><pre></pre></td><td>2</td></tr>
</tbody></table>
<h2 id="Metanorma_XML_Syntax">Metanorma XML Syntax</h2>
<table border="1">
<thead><th width="5%">Line</th><th width="20%">ID</th><th width="10%">Error</th>
<th width="20%">Message</th><th width="40%">Context</th><th width="5%">Severity</th></thead>
<tbody>
<tr class="severity2">
<td></td><th><code>XML Line 000069:12</code></th><td>STANDOC_7</td>
<td>element "sections" incomplete; expected element "clause",​ "definitions", "floating-title" or "terms"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000220:18</code></th><td>STANDOC_7</td>
<td>text not allowed here; expected element "taxon" or "vocab"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000220:26</code></th><td>STANDOC_7</td>
<td>element "keyword" incomplete; missing required element "taxon"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000221:41</code></th><td>STANDOC_7</td>
<td>text not allowed here; expected element "taxon" or "vocab"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000221:49</code></th><td>STANDOC_7</td>
<td>element "keyword" incomplete; missing required element "taxon"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000222:28</code></th><td>STANDOC_7</td>
<td>text not allowed here; expected element "taxon" or "vocab"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000222:36</code></th><td>STANDOC_7</td>
<td>element "keyword" incomplete; missing required element "taxon"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000223:17</code></th><td>STANDOC_7</td>
<td>text not allowed here; expected element "taxon" or "vocab"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000223:25</code></th><td>STANDOC_7</td>
<td>element "keyword" incomplete; missing required element "taxon"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000224:24</code></th><td>STANDOC_7</td>
<td>text not allowed here; expected element "taxon" or "vocab"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000224:32</code></th><td>STANDOC_7</td>
<td>element "keyword" incomplete; missing required element "taxon"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000286:23</code></th><td>STANDOC_7</td>
<td>text not allowed here; expected element "taxon" or "vocab"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000286:31</code></th><td>STANDOC_7</td>
<td>element "keyword" incomplete; missing required element "taxon"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000287:22</code></th><td>STANDOC_7</td>
<td>text not allowed here; expected element "taxon" or "vocab"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000287:30</code></th><td>STANDOC_7</td>
<td>element "keyword" incomplete; missing required element "taxon"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000288:22</code></th><td>STANDOC_7</td>
<td>text not allowed here; expected element "taxon" or "vocab"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000288:30</code></th><td>STANDOC_7</td>
<td>element "keyword" incomplete; missing required element "taxon"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000289:23</code></th><td>STANDOC_7</td>
<td>text not allowed here; expected element "taxon" or "vocab"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000289:31</code></th><td>STANDOC_7</td>
<td>element "keyword" incomplete; missing required element "taxon"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000290:19</code></th><td>STANDOC_7</td>
<td>text not allowed here; expected element "taxon" or "vocab"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000290:27</code></th><td>STANDOC_7</td>
<td>element "keyword" incomplete; missing required element "taxon"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000291:22</code></th><td>STANDOC_7</td>
<td>text not allowed here; expected element "taxon" or "vocab"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000291:30</code></th><td>STANDOC_7</td>
<td>element "keyword" incomplete; missing required element "taxon"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000354:24</code></th><td>STANDOC_7</td>
<td>text not allowed here; expected element "taxon" or "vocab"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000354:32</code></th><td>STANDOC_7</td>
<td>element "keyword" incomplete; missing required element "taxon"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000355:32</code></th><td>STANDOC_7</td>
<td>text not allowed here; expected element "taxon" or "vocab"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000355:40</code></th><td>STANDOC_7</td>
<td>element "keyword" incomplete; missing required element "taxon"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000356:17</code></th><td>STANDOC_7</td>
<td>text not allowed here; expected element "taxon" or "vocab"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000356:25</code></th><td>STANDOC_7</td>
<td>element "keyword" incomplete; missing required element "taxon"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000357:60</code></th><td>STANDOC_7</td>
<td>text not allowed here; expected element "taxon" or "vocab"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000357:68</code></th><td>STANDOC_7</td>
<td>element "keyword" incomplete; missing required element "taxon"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000414:27</code></th><td>STANDOC_7</td>
<td>text not allowed here; expected element "taxon" or "vocab"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000414:35</code></th><td>STANDOC_7</td>
<td>element "keyword" incomplete; missing required element "taxon"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000509:18</code></th><td>STANDOC_7</td>
<td>text not allowed here; expected element "taxon" or "vocab"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000509:26</code></th><td>STANDOC_7</td>
<td>element "keyword" incomplete; missing required element "taxon"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000510:24</code></th><td>STANDOC_7</td>
<td>text not allowed here; expected element "taxon" or "vocab"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000510:32</code></th><td>STANDOC_7</td>
<td>element "keyword" incomplete; missing required element "taxon"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000511:40</code></th><td>STANDOC_7</td>
<td>text not allowed here; expected element "taxon" or "vocab"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000511:48</code></th><td>STANDOC_7</td>
<td>element "keyword" incomplete; missing required element "taxon"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000514:47</code></th><td>STANDOC_7</td>
<td>element "p" not allowed here; expected the element end-tag or element "bibitem", "note" or "references"</td><td><pre></pre></td><td>2</td></tr>
</tbody></table>
</body></html>
